.map-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
button{ margin: 5px; }

.leaflet-popup-content p, .leaflet-popup-content h3{
  margin: 0px, 0px; 
}

button#asdf{
  position: absolute;
  top: -50px;
  right: -50px;
}