<div>

    <p>Airstrips:
        <button color="primary" (click)="handleAllAirstrips()">Show all</button>
        <button color="primary" (click)="handleRelevantAirstrips()">Show relevant</button>
      </p>
      <p>
        Flights:
        <button color="primary" (click)="showAllFlights()">Show all flights</button>
      </p>
       
      
      <h5><select (change)="option(selectField.value)" #selectField>
          <option *ngFor="let flightName of allFlights">{{flightName}}</option>
        </select> is de huidig geselecteerde vlucht! </h5>
        
    <app-flight-list [flights]="getFlights()"></app-flight-list>
</div>




  