<div>

  <p>Airstrips:
    <button color="primary" (click)="handleAllAirstripsButton()">Show all</button>
    <button color="primary" (click)="handleRelevantAirstripsButton()">Show relevant</button>
  </p>
  <p>
    Flights:
    <button color="primary" (click)="handleShowAllFlightsButton()">Show all flights</button>
  </p>

  <h5><select (change)="handleSelectFlightDropdown(selectField.value)" #selectField>
      <option *ngFor="let flightName of allFlights">{{flightName}}</option>
    </select> Select a single flight. </h5>
  <div class="overflow-auto">
    <app-flight-list [flights]="getFlightsWithoutAircraft()" (flightsChangedHandler)="flightsSelectedChanged($event)">
    </app-flight-list>

    <app-aircraft-list [flightsByAircraftId]="getFlightsByAircraft()" [aircrafts]="getAircrafts()"
      (flightsChangedHandler)="flightsSelectedChanged($event)"></app-aircraft-list>
  </div>

</div>