<div>

  <p>Airstrips:
    <button color="primary" (click)="handleAllAirstrips()">Show all</button>
    <button color="primary" (click)="handleRelevantAirstrips()">Show relevant</button>
  </p>
  <p>
    Flights:
    <button color="primary" (click)="showAllFlights()">Show all flights</button>
  </p>


  <h5><select (change)="option(selectField.value)" #selectField>
      <option *ngFor="let flightName of allFlights">{{flightName}}</option>
    </select> Selecteer een enkele vlucht. </h5>
  <div class="overflow-auto">
    <app-flight-list [flights]="getFlightsWithoutAircraft()" (flightsChangedHandler)="flightsChanged($event)">
    </app-flight-list>

    <app-aircraft-list [flightsByAircraftId]="getFlightsByAircraft()" [aircrafts]="getAircrafts()"
      (flightsChangedHandler)="flightsChanged($event)"></app-aircraft-list>
  </div>

</div>